<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = 
   		"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

   <context:annotation-config/>
   
   <context:component-scan base-package="com.ignite"/>
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
   		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
   		<property name="url" value="jdbc:mysql://localhost:3306/faith2"/>
   		<property name="username" value="system"/>
   		<property name="password" value="smrithi123"/>
   		<property name="initialSize" value="5"/>
   		<property name="maxActive" value="15"/>
   </bean>
   
   <bean id="employeeDao" class="com.ignite.hibdaoimpl.EmployeeHibDao">
   		<property name="sessionFactory" ref="sessionFactory"/>
   </bean>
   
   <bean id="departmentDao" class="com.ignite.hibdaoimpl.DepartmentHibDao">
   		<property name="sessionFactory" ref="sessionFactory"/>
   </bean>
   
   <bean id="dsTester" class="com.ignite.app.DsTester">
   </bean>
   
   <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
   		<property name="dataSource" ref="dataSource"/>
   		<property name="packagesToScan" value="org.ignite"/>
   		<property name="annotatedClasses">
   			<list>
   				<value>com.ignite.beans.Employee</value>
   				<value>com.ignite.beans.Department</value>
   			</list>
   		</property>
   		<property name="hibernateProperties">
   			<props>
   				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
   				<prop key="hibernate.show_sql">true</prop>
   				<prop key="hibernate.hbm2ddl.auto">update</prop>
   			</props>
   		</property>
   </bean>

</beans>